  #searchid
    {
         width:350px;
        border:solid 1px #000;
        padding:10px;
        font-size:14px;
    }
    #result
    {      position:absolute;
       
        width:350px;
        height:auto;
        display:none;
        margin-top:30px;
        border-top:0px;
        overflow:hidden;
        border:1px #CCC solid;
        background-color: white;
        z-index:100;
    }
    .show
    {
        height:50px;
        border-bottom:1px #999 dashed;
        font-size:15px; 
        
    }
    .show:hover
    {
        background:#4c66a4;
        color:#FFF;
        cursor:pointer;
    }   
      .show:hover a
    {
       
        color:#FFF;
        cursor:pointer;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .b {
        /*background-color: purple;*/
        color: #fff;
    }
    .l{
      float: right;
    }
	  #photo{
		height:150px;
		width:120px;
		 border:1px solid black; 
		box-shadow: 10px 10px 5px #888888;
	  }
	 #myModal button{
		margin-top:10px;  
	  }
	  textarea {
   resize: none;
}
	  .kom {
   margin-top:70px;
}   
#all_comments{
margin-top:60px;
}  
