body {
      font: 20px;
      line-height: 1.8;
      color: black;
  }
  form{
 margin-right: 3%;

font: 10px;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: hsl(120, 60%, 50%);

      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f;
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
       footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .b {
        /*background-color: purple;*/
        color: #fff;
    }
    .l{
      float: right;
    }
	  #photo{
		height:150px;
		width:120px;
		 border:1px solid black; 
		box-shadow: 10px 10px 5px #888888;
	  }
	 #myModal button{
		margin-top:10px;  
	  }
	  textarea {
   resize: none;
}
	  .kom {
   margin-top:70px;
}   
#all_comments{
margin-top:60px;
} 